<div class="courses courses--{{ include.position }}">
  <a href="https://ultimateangular.com/?utm_source=toddmotto.com" target="_blank">
    
    <div class="courses__content">
      <h3>
        Expert Angular Courses
      </h3>
      <p>
        Become an expert with my comprehensive Angular 1.5+ and Angular 2 courses
      </p>
      <button type="button">
        Explore Courses
      </button>
    </div>

    <div class="courses__illustration">
      <img class="courses__logo" src="{{ site.baseurl }}/img/ua-new.svg" alt="">

      <div class="courses__fakeplayer">
        <span class="courses__fakeplayer--progress"></span>
      </div>
    </div>

  </a>
</div>
